@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

.footer {
    font-family: 'Modak', cursive;
    background-color: rgb(110,153,170);
    margin: 0px auto;
    padding: 20px 5px;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .btn-facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
  }
  .btn-google-plus {
    color: #fff !important;
    background-color: #dd4b39 !important;
  }
  .btn-youtube {
    color: #fff !important;
    background-color: #ff4b39 !important;
  }
  .btn-linkedin {
    color: #fff !important;
    background-color: #007bb6 !important;
  }
  .btn-twitter {
    color: #fff !important;
    background-color: #55acee !important;
  }
  .btn-mail {
    color: #fff !important;
    background-color: #512da8 !important;
  }
  
  .enmarcada{
    position: relative;
    
    margin:10px; /* distancia entre el borde y el contenido */
    width:120px; /* el ancho de la img */
    border-radius:150px;
    border:5px solid black;
    height: 120px; 
    margin-bottom: 20%;
    margin-left: 90%;
  }

  .pnacion{
    margin-right: 3%;
  }
  