<div class="container-fluid footer" 
    fxLayout="row" 
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center" 
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutWrap 
    fxLayoutGap="10px">

    <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div fxLayout="row">
          <div fxFlex="50">
           
          </div>
        </div>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="45%">
        <div style="text-align:center">
          <br>
            <h4 letraYcolor>Argentina</h4>
            <address letraYcolor>
              Presidencia de la Nacion<br> <br>
              <img class="pnacion" src="./assets/images/pnacion.png" alt="Avatar">
              <br><br>
              <p >{{cambioclasefooter}}</p>
              <!--  -->
             </address>
            
          <a mat-icon-button class="btn btn-facebook rounded-circle" href="http://www.facebook.com/"><i class="fa fa-facebook fa-lg"></i></a>
          <a mat-icon-button class="btn btn-mail rounded-circle" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
          <a mat-icon-button class="btn btn-twitter rounded-circle" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
          <a mat-icon-button class="btn btn-youtube rounded-circle" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
          <a mat-icon-button class="btn btn-linkedin rounded-circle" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
          <p>Todos los derechos reservados®.</p>
        </div>
      </div>
      <div fxFlex="100" fxFlexAlign="center center">
      </div>  
</div>


<!-- pnacion -->