<app-header></app-header>

<div class="listadoCentrado container">

    <!-- <table *ngFor="let element of listaPendientes" class="table  table-striped table-dark table-bordered table-hover" style="align-content: center;">
     
        <thead>
          <tr>
            <th > No. </th>
            <th  > Producto </th>
            <th > Sector </th>
            <th > Estado </th>
          </tr>
        </thead>
        <ng-container >
          <td > {{element.id}} </td>
        </ng-container>
      
       
        <tbody>
         
          <ng-container *ngFor="let item of element.detalle">
              <td >
          {{item.nombre}} 
           </td>
          <td>
            {{item.sector | uppercase}}
          </td>
        </ng-container>
         
     
        <ng-container  >
        
          <td   > {{element.estado | uppercase}} </td>
        </ng-container>

      

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones </th>
            <td *matCellDef="let element">

            
            </td>
        </ng-container>
      
    
      </tbody>
      </table> -->

    

          <table mat-table [dataSource]="listaPendientes" class="lessons-table mat-elevation-z8" style="align-content: center;">
           
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Producto </th>
                <td mat-cell *matCellDef="let element"> {{element.detalle.nombre}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Sector </th>
                <td mat-cell *matCellDef="let element"> {{element.detalle.sector | uppercase}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol" style="text-align: center;">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <!--  -->
                <td mat-cell *matCellDef="let element" appEstadopedido [estado]="element.estado"  > {{element.estado | uppercase}} </td>
              </ng-container>
      
              <ng-container matColumnDef="preparacion">
                  <th mat-header-cell *matHeaderCellDef> T.Preparacion </th>
                  <td  *matCellDef="let element"> <select Temadark [(ngModel)]="element.tiempoPreparacion">
                    <option value="5">5 min</option>
                      <option value="10">10 min</option>
                      <option value="20">20 min</option>
                      <option value="30">30 min</option>
                    </select>
                  </td>
              </ng-container>
      
              <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef>Acciones </th>
                  <td *matCellDef="let element">
      
                      <app-botonpreparar *ngIf="element.estado=='pendiente'" (lanzador)="TraerTabla()" [id]="element.idDetalle" [tiempoPreparacion]="element.tiempoPreparacion" ></app-botonpreparar>
                      <app-botonservir *ngIf="element.estado=='en preparacion'" (lanzador)="TraerTabla()" [idDetalle]="element.idDetalle"></app-botonservir>
                  </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      