<app-header></app-header>

<body>

    <div class="row">
      <div class=" col shadow-lg p-4  bg-dark rounded border border-dark">
  
      <h3 letraYcolor>Nuevo Mesa</h3>
      <hr style="border-color: white;">
      <form [formGroup]="registroForm" >
        <div class="form-group">
          <input class="form-control" placeholder="Numero de Mesa" type="number" id="num"  name="num" [formControl]="num" required>
          <br>
          <p letraYcolor *ngIf="usuarioRegistrado">Mesa ya ingresada.</p><br>

          <!-- <input class="form-control" placeholder="Clave" type="password"  name="clave"  [formControl]="clave" required><br> -->
    
         
          <select class="form-control" formControlName="perfil" >
              <option value="Seleccione establecimiento" disabled selected>Seleccione establecimiento</option>
              <option *ngFor="let perfil of perfiles" [ngValue]="perfil">
                  {{ perfil }}
                </option>
             
            </select>
       


         
            <br>

            <!-- <div class="form-group"  name="sexo">
                <h4 letraYcolor>Sexo</h4>
                
                <ul style="margin-left: 10%;" >
                  
                    <input type="radio" id="sexoh" name="sexo" formControlName="sexo" value="hombre" id="one" checked />
                    <label style="color: white;" for="one">HOMBRE</label>
                    
                    <div class="check"></div>
               
                  <br>
                  
                    <input type="radio" id="sexom" name="sexo" formControlName="sexo" value="mujer" id="two" />
                    <label style="color: white;" for="two">MUJER</label>
                    
                    <div class="check"></div>
                  
                </ul>
              </div> -->
        
          


            
            <button (click)="IngresarMesa()" class="btn btn-success btn-lg col-sm-12" [disabled]="!registroForm.valid">Agregar</button>
          <br><br>
          <p letraYcolor *ngIf="agregOK" style="text-align: center;">Mesa agregada</p>
          <p letraYcolor *ngIf="eliminOK" style="text-align: center;">Mesa eliminada</p>
         
         </div>
    
      </form>
      </div>
      <div class="mat-elevation-z8 col-8 border border-dark" style="color:black; background: rgba(119, 136, 153, 0.481);">
        <br>
          <h3 letraYcolor>Lista de mesas</h3>
          <hr style="border-color: white;">
          
  
  
            <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
                <thead>
                  <tr>
                  
                    <th  scope="col" class="col1">NRO MESA</th>
                    <th  scope="col" class="col2">ESTADO</th>
                     <th  scope="col" class="col3">ESTABLECIMIENTO</th>
                     <!-- <th  scope="col" class="col4">DIRECCION</th>  -->
                   <th  scope="col" class="col5">ACCIONES</th>
                   
                     <!--  <th  scope="col" class="col6">ACT/SUSP/ELIM</th>  -->
  
          
                  </tr>
              </thead>
          
                  <tbody id="tBodyTable"  *ngFor="let item of listaMesas">
                      <tr> 
                    
                            <td>{{item.idMesa }}</td>
                            <td>{{item.estado}}</td>
                            <!-- <td *ngIf="item.imgMesa != ''"><img [src]="item.imgMesa" class="img-thumbnail" style="height: 80px;width: 80px;"></td> -->
                            <td >{{item.escuela}}</td>

                            <!-- <td *ngIf="item.imgMesa == ''"><p>Imagen aun no seleccionada.</p></td> -->

                            <!-- <td *ngIf="item.montoTotal != 0">${{item.montoTotal}}</td> -->
                            <!-- <td *ngIf="item.montoTotal == 0"><p>Mesa no lista para cobrar.</p></td> -->

                            <td>
                              <!-- FIJARSE BOTONES -->
                                <!-- <div class="divider"></div> -->
                                <button *ngIf="perfilLog == 'presidente'" class="btn btn-success" (click)="Abrir(item.idMesa)" >Abrir</button> 
                                <button *ngIf="perfilLog == 'presidente'" class="btn btn-danger" (click)="Cerrar(item.idMesa)">Cerrar</button>
                                <app-btn-eliminar *ngIf="perfilLog == 'admin'" (enviarABorrar)="borrarMesa(item)"></app-btn-eliminar></td>
                                <!-- <div class="divider"></div>
                                <button *ngIf="perfil=='admin'" class="btn btn-success" (click)="Cobrar(item.idMesa)" >Cobrar</button>  -->
                                <!-- <div class="divider"><hr></div> -->
                                <hr>
                                  
                                  <!-- <div class="divider"></div> -->
        
        
                       
                      </tr> 
                  
                     </tbody>
                    </table>
  
          <br>
        </div>
  
    </div>
  

</body>