<app-header></app-header>

<body>

    <div class="row">
      <div class=" col shadow-lg p-4  bg-dark rounded border border-dark">
  
      <h3 letraYcolor>Nuevo Mesa</h3>
      <hr style="border-color: white;">
      <form [formGroup]="registroForm" >
        <div class="form-group">
          <input class="form-control" placeholder="Numero de Mesa" type="number" id="num"  name="num" [formControl]="num" required>
          <br>
          <p letraYcolor *ngIf="usuarioRegistrado">Mesa ya ingresada.</p><br>

         
          <select class="form-control" formControlName="perfil" >
              <option selected disabled>Seleccione establecimiento</option>
              <option *ngFor="let perfil of perfiles" [ngValue]="perfil">
                  {{ perfil.nombre }}
                </option>
             
            </select>

         
            <br>   
          
            
            <button (click)="IngresarMesa()" class="btn btn-success btn-lg col-sm-12">Agregar</button>
          <br><br>
          <p letraYcolor *ngIf="agregOK" style="text-align: center;">Mesa agregada</p>
          <p letraYcolor *ngIf="eliminOK" style="text-align: center;">Mesa eliminada</p>
         
         </div>
    
      </form>
      </div>
      <div class="mat-elevation-z8 col-8 border border-dark" style="color:black; background: rgba(119, 136, 153, 0.481);">
        <br>
          <h3 letraYcolor>Lista de mesas</h3>
          <hr style="border-color: white;">
          
  
  
            <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
                <thead>
                  <tr>
                  
                    <th  scope="col" class="col1">NRO MESA</th>
                    <th  scope="col" class="col2">ESTADO</th>
                     <th  scope="col" class="col3">IDESTABLECIMIENTO</th>

                     <!--  <th  scope="col" class="col6">ACT/SUSP/ELIM</th>  -->
  
          
                  </tr>
              </thead>
          
                  <tbody id="tBodyTable"  *ngFor="let item of listaMesas">
                      <tr> 
                    
                            <td>{{item.idMesa }}</td>
                            <td>{{item.estado}}</td>
                            <td >{{item.escuela}}</td>
        
                       
                      </tr> 
                  
                     </tbody>
                    </table>
  
          <br>
        </div>
  
    </div>
  

</body>