

.col-md-5 {
    width: 100%;
}

th{
    margin-left: 10px;
    margin-right: 10px;
    /* color: whitesmoke; */
}

input[type=file] {
    display: inherit;
    width: 200px;
}

input{
  
    font-family: 'Roboto Slab', serif;
}

/* .mat-radio-outer-circle{
    margin-left: -20%;
} */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    margin-left: -20%;
  }


   .md-radio-inner-circle {
    margin-left: -20%;  /* Pick your color */
}

 .md-radio-checked .md-radio-outer-circle {
    margin-left: -20%;     /* Pick your color */
}


.slick-slider {
    width: 88%;
    margin: auto;
    background: white;
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}



.slick-prev:before, .slick-next:before {
    color: black!important;
}

.agregado{
    background-color: #479F41;
font-size: 290%;
color: white;
text-align: center;
}
