<app-header> </app-header>

<div class="container">
  <!-- <div class="row ">   -->
    <br>
    <div *ngIf="candidatosCard" class="card">    
      <div class="card-header">
        <h2 letraYcolor  style="text-align: center;">DIPUTADAS/OS NACIONALES por la PCIA de BUENOS AIRES</h2>
      </div>
      <div class="card-body">
        <ngx-slick-carousel class="carousel slide pb-4 pointer-event" #slickModal="slick-carousel" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" [config]="slideConfig">  
          <div ngxSlickItem *ngFor="let image of imagesNacion" (click)="candidatoElegido(image.img)" class="slide">  
            <img src="{{ image.img }}" style="margin-left: 25%;" width="50%">  
          </div>  
        </ngx-slick-carousel>  
      </div>
  

      <div *ngIf="muestroCandidato" class="card-body text-center">
        <label letraYcolor class="agregado"  style="width: 100%">Elección: {{candidatoSeleccionadoLabel}} </label>
        <button letraYcolor class="btn btn-lg btn-info" (click)="confirmoCandidato()">Confirmar candidato elegido</button>

        

      </div>
      <br>
      
    </div>
    <br>
    <div *ngIf="isLoading" class="d-flex justify-content-center text-primary">
      <div class="spinner-border" role="status">
  
      </div>
    </div>
   
    

    <div *ngIf="yaVoto" class="card">
      <div class="card-header"><h2 letraYcolor  style="text-align: center;">VOTO CONFIRMADO</h2></div>
      <div class="card-body">
        Usted confirmó el voto para {{candidatoSeleccionadoLabel}}. <br>Muchas gracias por utilizar el sistema electrónico Vot.AR. 
        Será redirigido automaticamente a la encuesta. Favor de completarla.
      </div>
     
    </div>
    <br>
   <!-- <h2 >DIPUTADAS/OS PROVINCIA</h2>
    <hr style="border-color: white;">

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
      <div ngxSlickItem *ngFor="let image of imagesPcia" class="slide">  
        <img src="{{ image.img }}" style="margin-left: 25%;" width="50%">  
      </div>  
    </ngx-slick-carousel>   -->
    <!-- <button class="btn btn-info btn-block btn-lg" (click)="descarga()"><i class="fa fa-cloud-download"></i> Descargar detalle de VOTO</button> -->
    


</div>

