<app-header></app-header>   

<body>
<div class="row">
    <div class=" col-sm-3">
      <br>
        <h3 letraYcolor>Nuevo empleado</h3>
        <hr style="border-color: white;">
      <form [formGroup]="registroForm" >
        <div class="form-group">
          <input Temadark class="form-control" placeholder="Email" type="email" id="email"  name="email" [formControl]="email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><br>
          <p letraYcolor *ngIf="usuarioRegistrado">Usuario ya utilizado.</p><br>
          <input Temadark class="form-control" placeholder="Clave" type="password"  name="clave"  [formControl]="clave" required><br>
    
          <!-- <input type="text" class="form-control input-ingreso" placeholder="Perfil"  name="perfil"  [formControl]="perfil" required><br> -->
    
          
          <!-- <mat-form-field>
            <mat-select  [formControl]="perfil" placeholder="Seleccione Perfil">
              <mat-option name="perfil"  value="admin"> ADMINISTRADOR</mat-option>
              <mat-option name="perfil"  value="mozo"> MOZO </mat-option>
              <mat-option name="perfil"  value="cocina"> COCINA</mat-option>
              <mat-option name="perfil"  value="chopera"> CHOPERA</mat-option>
              <mat-option name="perfil"  value="barra"> BARRA </mat-option>
              <mat-option name="perfil"  value="candy"> CANDY BAR</mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- formControlName="perfil"  -->
          <select Temadark class="form-control" formControlName="perfil" >
              <option [ngValue]="null" hidden disabled>Seleccione perfil</option>
              <option *ngFor="let perfil of perfiles" [ngValue]="perfil.name">
                  {{ perfil.name }}
                </option>
              <!-- <option [ngValue]="admin">ADMINISTRADOR</option>
              <option [ngValue]="mozo">MOZO</option>
              <option [ngValue]="cocina">COCINA</option>
              <option [ngValue]="chopera">CHOPERA</option>
              <option [ngValue]="barra">BARRA</option>
              <option [ngValue]="candy">CANDY BAR</option> -->

             
            </select>
       


            <!-- <legend >Sexo</legend>

            <mat-radio-group  [formControl]="sexo">
                <mat-radio-button value="Hombre"  type="radio" id="sexoh"  name="sexo"  required >HOMBRE</mat-radio-button>
                <br>
                <mat-radio-button value="Mujer"  type="radio" id="sexom"  name="sexo"  required >MUJER</mat-radio-button>
            </mat-radio-group> -->
            <br>
            <!-- [formControl]="sexo" -->
            <div class="form-group"  name="sexo">
                <h4 letraYcolor>Sexo</h4>
                
                <ul style="margin-left: 10%;" >
                  
                    <input type="radio" id="sexoh" name="sexo" formControlName="sexo" value="hombre" id="one" checked />
                    <label for="one">HOMBRE</label>
                    
                    <div class="check"></div>
               
                  <br>
                  
                    <input type="radio" id="sexom" name="sexo" formControlName="sexo" value="mujer" id="two" />
                    <label for="two">MUJER</label>
                    
                    <div class="check"></div>
                  
                </ul>
              </div>
        
           <label>
              <span letraYcolor class="file-name">Has click para seleccionar el avatar</span>
              <input style="opacity:0;" #imageInput
                     type="file"
                     accept=".png,.jpg"
                     (change)="processFile(imageInput)">
          <p letraYcolor *ngIf="agregoimagenErrorMsg">Debe ingresar imagen</p>

            </label>


            
            <button (click)="IngresarUsuario()" class="btn btn-success col-sm-12" [disabled]="!registroForm.valid">Agregar</button>
          <br><br>
          <p letraYcolor *ngIf="agregOK" style="text-align: center;">Usuario agregado</p>
          <p letraYcolor *ngIf="eliminOK" style="text-align: center;">Usuario eliminado</p>
          <!-- <legend letraYcolor>Verificar Captcha</legend> -->
          <!-- <app-captcha-propio (lanzador)="RecibirCaptcha($event)"></app-captcha-propio>  -->
          <!-- <p-messages [(value)]="msgs" ></p-messages> -->
         </div>
    
      </form>
    
    </div>
    
    <div class="mat-elevation-z8 col-sm-7" style="color:black; background: rgba(119, 136, 153, 0.481);">
      <br>
        <h3 letraYcolor>Lista de empleados</h3>
        <hr style="border-color: white;">
        <!-- <table mat-table [dataSource]="listaUsuarios" class="lessons-table mat-elevation-z8" style="align-content: center;">
      
     
            
            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef> Nombre de Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>
        
            <ng-container matColumnDef="perfil">
              <th mat-header-cell *matHeaderCellDef> Perfil </th>
              <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

          
            <ng-container matColumnDef="accionesSusp">
                <th mat-header-cell *matHeaderCellDef> SUSP </th>
                <td mat-cell *matCellDef="let element">  -->
                <!-- <boton-suspender [id]="element.id" [estado]="element.estado" (lanzador)="TraerTodosLosUsuarios($event)"></boton-suspender> -->
                <!-- </td>
              </ng-container>

              <ng-container matColumnDef="accionesDel">
                  <th mat-header-cell *matHeaderCellDef> DEL </th>
                  <td mat-cell *matCellDef="let element">  -->
                  <!-- <app-btn-borrar-usuario [id]="element.id" (lanzador)="TraerTodosLosUsuarios($event)" style="align-content: center; text-align: center;" ></app-btn-borrar-usuario>  -->
                  <!-- </td>
        
                </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->



          <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
              <thead>
                <tr>
                
                  <th  scope="col" class="col1">USUARIO</th>
                  <th  scope="col" class="col2">PERFIL</th>
                   <th  scope="col" class="col3">ESTADO</th>
                  <th  scope="col" class="col4">SEXO</th>
                  <th  scope="col" class="col5">AVATAR</th> 
        
                </tr>
            </thead>
        
                <tbody id="tBodyTable"  *ngFor="let item of listaUsuarios">
                    <tr> 
                  
                          <td>{{item.username}}</td>
                          <td>{{item.perfil}}</td>
                          <td>{{item.estado}}</td>
                          <td>{{item.sexo}}</td>
                          <td> <img [src]="item.avatar" class="img-thumbnail" style="height: 80px;width: 80px;"></td>
                          <td><button class="btn btn-warning" (click)="editar(item)"><i class="fa fa-edit"></i></button>
                          <app-btn-eliminar (enviarABorrar)="borrarUsuario(item)"></app-btn-eliminar></td>
      
      
                     
                    </tr> 
                
                   </tbody>
                  </table>

        <button class="btn btn-dark btn-block" (click)="descarga()">Descargar informacion empleados</button>
      </div>
    
    </div>
  </body>