<!-- <header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</header> -->
<mat-toolbar class="header">
    <span letraYcolor><img src="./assets/images/logounlz3.png" routerLink="/home"  class="image"><i class="fa fa-chevron-left" aria-hidden="true"></i>    Click para regresar Vot.AR</span>


    <span class="fill-space"></span>
  

  </mat-toolbar>
  
  <div class="container-fluid jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="60%">

      <div class="headerCentral">
        <br>
         <h1>Votacion Alumnos Trabajos Practicos</h1> 
    <span><img src="./assets/images/logounlz.png" height=auto width=800px></span>

        <p>Selección de los distintos proyectos de la materia Practica Supervisada</p>
        <p>¿Cual es el mejor proyecto?</p>
    
      </div>

    

   
  </div>