<app-header> </app-header>




<mat-card style="background-image: url('./assets/images/devices.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 765px;
">
<div class="card float-left" style="width: 18rem;background-color: transparent; "> 
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
        
        <h2 class="card-title">Acta de inicio de proyecto</h2>
     
        <p class="card-text">
            
        Proceso de Selección de Proyecto:
        A raíz de la pandemia que aún tiene impacto sobre el mundo, surgió la necesidad de restringir el contacto estrecho. Por tal motivo, para seleccionar el proyecto final, se consideró realizar un aporte a la comunidad que pueda alinearse bajo las nuevas normas de seguridad e higiene expedidas por los organismos gubernamentales. Tomando como base estas consideraciones, se analizaron los proyectos candidatos, obteniendo como resultado la elección del proyecto Vot.ar. El cual, concuerda con el objetivo planteado inicialmente en su totalidad.
        </p>
       

        
        <!-- <p class="card-text">   Fruto de este esfuerzo hoy VOT.AR es la única solución de voto mediante el uso de tecnología con experiencia comprobada en el territorio Argentino en elecciones oficiales, obligatorias y vinculantes, para categorías de gobernador, diputados, senadores, intendentes y concejales.
            </p> -->
            <!-- <p class="card-text">  

                  Su hijo más tarde, en 1656 comenzó los inicios de lo que hoy en día, en constante crecimiento, uno de los bares mas famosos y concurridos del mundo.</p> -->
    </div>
</div>
<!-- [ngStyle]="{ 'background-image': 'url(./assets/images/local.jpg)'}" -->

<div class="card float-right algd" style="width: 18rem;background-color: transparent;"> 
        <div class="card-body" style="margin-top: -9%;">
          <h2 class="card-title" >Alcance del Proyecto</h2>
        
      
          <!-- <br>      
          <dl class="card-text">
                    <dt> Comienzo proyecto <span class="fa fa-calendar fa-lg"></span> </dt>
                    <dd> Año 2021</dd>
                    <br>
                    <dt> Socios Principales<span class="fa fa-users fa-lg"></span></dt>
                    <dd> Julian Graziano</dd>
                    <dd> Leandro Pollola</dd>
                    <dd> Matias Perez</dd>
                    <br>
                    <dt> Cantidad de Empleados <span class="fa fa-user-circle-o fa-lg"></span></dt>
                    <dd> 60</dd>
               </dl> -->


               <p class="card-text">
                Se establece el alcance del proyecto hasta la presentación de la aplicación web Vot.ar, 
                la cual abarca los circuitos y roles definidos para utilización de la misma en estado funcional. Esta solución estará acompañada de la documentación de seguimiento (Acta de inicio, planificación, etc)
                Dicho proyecto estará alineado bajo un híbrido que alterna entre las normas estandarizadas dentro del marco de PMI (Project Management Institute) y la implementación de metodologías ágiles. 
                                <br>Descripción del Proyecto:
        
                    Se desarrollará una webapp que permitirá almacenar la elección de los votantes registrados. El sistema contará con manejo de roles y un listado de escuelas habilitadas, pudiendo administrarse desde diversos perfiles. Los mismos estarán integrados en un circuito de aprobación, lo cual permitirá la finalización de las solicitudes. 
                    
                </p>





        </div>



        <!-- <mat-card>
                <blockquote>
                           <h3>Tech Solutions S.A</h3>
                <footer>
                        <img class="enmarcada" src="./assets/images/techsolutions2.png" alt="Avatar"> -->
                        
                    <!-- <cite>Critica especializada, Revista los mejores bares del mundo </cite> -->
                <!-- </footer>
            </blockquote>
        </mat-card> -->
</div>

     
 
