<app-header> </app-header>




<mat-card style="background-image: url('./assets/images/localblur.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 765px;
">
<div class="card float-left" style="width: 18rem;background-color: transparent; "> 
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
        
        <h2 class="card-title">Nuestra Historia</h2>
        <p class="card-text">¿Estás de vacaciones en Dublín? Definitivamente oirás sobre el Temple Bar en Dublín. </p>
        <p class="card-text">Si bien es el nombre de nuestro bar, el término Temple Bar generalmente se refiere a un área completa de la ciudad de Dublín, dándole fama al sitio. 
          </p>
        <p class="card-text">    Temple Bar en Dublín está en la orilla sur del río Liffey, o lo que se considera el centro de Dublín. Nuestra familia es responsable del nombre. En 1599, Sir William Temple fue el rector del Trinity College y tenía su casa y jardines en el área ahora llamada Temple Bar en Dublín. 
            </p>
            <p class="card-text">  

                  Su hijo más tarde, en 1656 comenzó los inicios de lo que hoy en día continúa creciendo uno de los bares mas famosos y concurridos del mundo.</p>
    </div>
</div>
<!-- [ngStyle]="{ 'background-image': 'url(./assets/images/local.jpg)'}" -->

<div class="card float-right algd" style="width: 18rem;background-color: transparent;"> 
        <div class="card-body">
          <h2 class="card-title" >Algunos datos</h2>
        
      
          <br>      
          <dl class="card-text">
                    <dt> Comienzo proyecto <span class="fa fa-calendar fa-lg"></span> </dt>
                    <dd> Año 2019</dd>
                    <br>
                    <dt> Socio Principal <span class="fa fa-users fa-lg"></span></dt>
                    <dd> Julian Graziano</dd>
                    <br>
                    <dt> Ganancias <span class="fa fa-cutlery fa-money"></span></dt>
                    <!-- <dd> {{Ganancias | cambioDolar: '27.5' | currency : 'USD' : 'symbol' : '1.0' | agregoTextoPos: 'USD' }}  </dd> -->
                    <dd>U&#36;S 27.5 M  </dd>
                    <br>
                    <dt> Cantidad de Empleados <span class="fa fa-user-circle-o fa-lg"></span></dt>
                    <dd> 60</dd>
               </dl>
        </div>
        <mat-card>
                <blockquote>
                           <h3>¡El mejor bar de mi vida!</h3>
                <footer>
                        <img class="enmarcada" src="./assets/images/cocinero.png" alt="Avatar">
                        Arguiñano
                    <cite>Critica especializada, Revista los mejores bares del mundo </cite>
                </footer>
            </blockquote>
        </mat-card>
</div>

     
 
