@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css?family=Skranji&display=swap');

.image{
    position: relative;
    float: left;
}

.enmarcada{
  position: relative;
  border-radius: 50%;
  margin:30px; /* distancia entre el borde y el contenido */
  width:200px; /* el ancho de la img */
  border-radius:150px;
  border:5px solid #666;
  height: 150px; 
}

.imgback{
   
        position: absolute;
        top: 36%;
        /* left: -20px; */
        /* right: -40px; */
        /* bottom: -40px; */
        width: 100%;
        height: 117%;
        
        background-size: cover;
        -webkit-filter: blur(5px);
        z-index: 0;
   
}

.card{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Bebas Neue', cursive;
    font-size: 131%;
}
/* .card-text{
    
} */

/* .card-title{
    font-family: 'Skranji', cursive;
} */

.algd, dl{
    /* text-align: center; */
    font-size: 115%; 
    margin-bottom: 30%;
}
