<app-header  > </app-header>

<body >
  <br>
<div class="divMayor shadow-lg mb-5 bg-light rounded border border-dark ">
 <br>
<h2 style="text-align: center;" >Nuevo votante</h2>
<hr style="border-color: darkgrey;">
<div class="form-group "  style="text-align: center;">
  <br>
    <label letraYcolor  for="DNI">DNI</label>
    <input type="number" class="form-control form-control-lg" style="text-align: center;" [(ngModel)]="cuentaRegistro.DNI" id="DNI" name="DNI" aria-describedby="emailHelp" placeholder="Ingrese DNI para dar de alta"
     required>
    <small letraYcolor id="DNIlHelp" class="form-text " *ngIf="usuarioUtilizado">Usuario ya habilitado. </small>
    <small letraYcolor id="DNIHelp" class="form-text " *ngIf="dniincompleto">Ingrese DNI valido (8 dígitos). </small>
  </div>
 
<div class="form-group" style="text-align: center;">
  <label  letraYcolor for="NOMBRE">NOMBRE</label>
  <input type="string"  class="form-control form-control-lg" style="text-align: center;"  [(ngModel)]="cuentaRegistro.NOMBRE" id="NOMBRE" name="NOMBRE" placeholder="Ingrese NOMBRE Y APELLIDO" required>
</div>
<br>
<div class="form-group" style="text-align: center;">
  <label  letraYcolor for="IDMESA">N° MESA</label>
  <input type="number"   class="form-control form-control-lg" style="text-align: center;"  [(ngModel)]="cuentaRegistro.IDMESA" id="IDMESA" name="IDMESA" placeholder="Ingrese Mesa" required>
</div>
<br>
<div class="form-group" style="text-align: center;">
  <label  letraYcolor for="IDESCUELA">N° ESCUELA</label>
  <input type="number"  class="form-control form-control-lg" style="text-align: center;"  [(ngModel)]="cuentaRegistro.IDESCUELA" id="IDESCUELA" name="IDESCUELA" placeholder="Ingrese IDESCUELA" required>
</div>
<br>
<div class="form-group" style="text-align: center;">
  <label  letraYcolor for="ORDEN">ORDEN</label>
  <input type="number"  class="form-control form-control-lg" style="text-align: center;"  [(ngModel)]="cuentaRegistro.ORDEN" id="ORDEN" name="ORDEN" placeholder="Ingrese ORDEN" required>
</div>
<br>

<div letraYcolor class="form-group radioS">
  <br>
  <div class="form-group">
    
      <label >Sexo</label>
<hr style="border-color: darkgrey; margin-right: 75%;">

      <ul >
          <input type="radio" name="SEXO" [(ngModel)]="radioSelected" value="hombre"  id="one" (change)="onItemChange(radioSelected)"/>
          <label  for="one">HOMBRE</label>
          <div class="check"></div>
      
        <br>
        
          <input type="radio"  name="SEXO" [(ngModel)]="radioSelected"  value="mujer" id="two"  (change)="onItemChange(radioSelected)"/>
          <label for="two">MUJER</label>
          <div class="check"></div>
        
      </ul>
    </div>
</div>


<br>



<small letraYcolor id="emailHelp" class="form-text" *ngIf="faltancampos">Por favor completar todos los campos.</small>
<br>
  <button letraYcolor class="btn btn-success btn-block btn-lg" (click)="registrarme()">Agregar</button>
  <br>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
     
    </div>
  </div>
  
  <label letraYcolor *ngIf="agregado" class="agregado"  style="width: 100%">Votante Agregado.</label>
</div>
</body>