<app-header  > </app-header>

<body >

<div class="divMayor">
  <br>
<h3 letraYcolor style="text-align: center;">Nuevo usuario</h3>
<hr style="border-color: white;">
<div class="form-group ">
    <label letraYcolor for="username">Usuario</label>
    <input Temadark type="email" class="form-control " ngModel [email]="true" [(ngModel)]="cuentaRegistro.username" id="username" name="username" aria-describedby="emailHelp" placeholder="Ingrese mail"
     required>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="usuarioUtilizado">Usuario ya utilizado. </small>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="emailincompleto">Ingrese email valido. </small>
    
  </div>
  <div class="form-group">
    <label letraYcolor for="password">Contraseña</label>
    <input Temadark type="password" class="form-control"  [(ngModel)]="cuentaRegistro.password" id="password" name="password" placeholder="Ingrese contraseña" required>
  </div>
  <div class="form-group">
    <label letraYcolor for="passwordR" >Reingrese contraseña</label>
    <input Temadark type="password" class="form-control"  [(ngModel)]="cuentaRegistro.passwordR" id="passwordR" name="passwordR" placeholder="Reingrese contraseña" required>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="contraError">Las contraseñas no coinciden.</small>
    
</div>
<div letraYcolor class="form-group radioS">
    <br>
    <!-- [formControl]="sexo" -->
    <div class="form-group">
        <h4 >Sexo</h4>
        
        <ul >
          <!-- <li *ngFor="let item of tipoSexo"> -->
         

            <input type="radio" name="sexo" [(ngModel)]="radioSelected" value="hombre"  id="one" (change)="onItemChange(radioSelected)"/>
            <label for="one">HOMBRE</label>
            
            <div class="check"></div>
        
          <br>
          
            <input type="radio"  name="sexo" [(ngModel)]="radioSelected"  value="mujer" id="two"  (change)="onItemChange(radioSelected)"/>
            <label for="two">MUJER</label>
            
            <div class="check"></div>
          
        </ul>
      </div>
      <label>
          <span letraYcolor class="file-name" style="margin-left: -30%;">Has click para seleccionar el avatar</span>
          <input style="opacity:0;" #imageInput
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput)">
      <p letraYcolor *ngIf="agregoimagenErrorMsg" class="faltaIMG">Debe ingresar imagen</p>
      
        </label>
</div>
<br>

<small letraYcolor id="emailHelp" class="form-text" *ngIf="faltancampos">Por favor completar todos los campos.</small>
<br>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button class="btn btn-dark btn-block" (click)="registrarme()">Agregar</button>
  <br>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
     
    </div>
  </div>
  <br>
  <label letraYcolor *ngIf="agregado" class="agregado"  style="width: 100%">Usuario Agregado.</label>
</div>
</body>