<app-header  > </app-header>

<body >

<div class="divMayor shadow-lg mb-5 bg-dark rounded border border-dark ">
  <br>
<h2 >Nuevo votante</h2>
<hr style="border-color: black;">
<div class="form-group " style="text-align: center;">
  <br>
    <label letraYcolor for="username">Usuario</label>
    <input type="email" Temadark class="form-control form-control-lg" ngModel style="text-align: center;" [email]="true" [(ngModel)]="cuentaRegistro.username" id="username" name="username" aria-describedby="emailHelp" placeholder="Ingrese mail"
     required>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="usuarioUtilizado">Usuario ya utilizado. </small>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="emailincompleto">Ingrese email valido. </small>
    
  </div>
  <div class="form-group" style="text-align: center;">
    <label  letraYcolor for="password">Contraseña</label>
    <input type="password" Temadark class="form-control form-control-lg" style="text-align: center;"  [(ngModel)]="cuentaRegistro.password" id="password" name="password" placeholder="Ingrese contraseña" required>
  </div>
  <div class="form-group" style="text-align: center;">
    <label letraYcolor for="passwordR" >Reingrese contraseña</label>
    <input type="password" Temadark class="form-control form-control-lg" style="text-align: center;" [(ngModel)]="cuentaRegistro.passwordR" id="passwordR" name="passwordR" placeholder="Reingrese contraseña" required>
    <small letraYcolor id="emailHelp" class="form-text " *ngIf="contraError">Las contraseñas no coinciden.</small>
    
</div>
<div letraYcolor class="form-group radioS">
    <br>
    <!-- [formControl]="sexo" -->
    <div class="form-group">
        <h3 >Sexo</h3>
        
        <ul >
          <!-- <li *ngFor="let item of tipoSexo"> -->
         

            <input type="radio" name="sexo" [(ngModel)]="radioSelected" value="hombre"  id="one" (change)="onItemChange(radioSelected)"/>
            <label  for="one">HOMBRE</label>
            
            <div class="check"></div>
        
          <br>
          
            <input type="radio"  name="sexo" [(ngModel)]="radioSelected"  value="mujer" id="two"  (change)="onItemChange(radioSelected)"/>
            <label for="two">MUJER</label>
            
            <div class="check"></div>
          
        </ul>
      </div>
      <label>
          <span class="file-name" style="margin-left: -35%;">  <i class="fa fa-file-image-o"></i> Has click para seleccionar el avatar</span>
          
          <input style="opacity:0;" #imageInput
                 type="file"

                 accept="image/*"

                 (change)="processFile(imageInput)">
      <p letraYcolor *ngIf="agregoimagenErrorMsg" class="faltaIMG">Debe ingresar imagen</p>
      
        </label>
</div>
<br>

<small letraYcolor id="emailHelp" class="form-text" *ngIf="faltancampos">Por favor completar todos los campos.</small>
<br>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button letraYcolor class="btn btn-success btn-block btn-lg" (click)="registrarme()">Agregar</button>
  <br>
  <div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
     
    </div>
  </div>
  <br>
  <label letraYcolor *ngIf="agregado" class="agregado"  style="width: 100%">Votante Agregado.</label>
</div>
</body>