@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h2{
  font-family: 'Bebas Neue', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 370%;
  color: lightgrey;

}

input{
    color: black;
  font-size: 190%;
   
    font-family: 'Bebas Neue', cursive;
  }
  

/* input{
    background-color: rgb(126, 126, 118);
    font-family: 'Roboto Slab', serif;
} */


.agregado{
    background-color: #479F41;
font-size: 290%;
color: white;
text-align: center;
}

label{
    text-align: center;
}
.divMayor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.check {
	width: 25px; height: 25px;
    position: absolute;

	border-radius: 50%;
	transition: transform .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
/* Reset */
input#one ~ .check { 
	transform: translate(-50px, -47px); 
	background: var(--secondary-c); 
}
input#two ~ .check { 
	transform: translate(-50px, -100px); 
	background: #003047;
	box-shadow: 0 6px 12px white;
}

/* Radio Input #1 */
input#one:checked ~ .check { transform: translate(-50px, -100px); }

/* Radio Input #2  */
input#two:checked ~ .check { transform: translate(-50px, -47px); }

input[type=radio] {
	position: absolute;
	visibility: hidden;
}

label { 
	cursor: pointer; 
	font-weight: 600;
}

.radioS{
  
    margin-left: 45%;
    margin-right: auto;
}

.faltaIMG{
    margin-left: -90%;
}