<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>



<mat-card>
<form novalidate [formGroup]="loginForm" (ngSubmit)="Entrar()"  >

    <mat-toolbar mat-dialog-title color="gray">
        <h4 letraYcolor >Ingresar <button mat-button mat-dialog-close class="close">&times;</button></h4>
    </mat-toolbar>

    <mat-card-content>
      <div class="centro" >    
        <img class="img-thumbnail"   src="./assets/images/login.png" alt="Avatar" >
      </div>
      <br>
      <mat-form-field >
        <label>Ingrese usuario:</label>
        <!-- <input matInput type="text" formControlName="username"  class="inputs" style="width: 94%;" name="usuario" required> -->
        <input matInput type="text" letraYcolor formControlName="username"  name="usuario" required>    
      </mat-form-field>
      <mat-form-field >
        <label>Ingrese contraseña:</label>
        <input matInput  formControlName="password" letraYcolor  name="password" [type]="hide ?  'text': 'password' ">
        <mat-icon matSuffix (click)="hide = !hide"><i class="fa fa-eye"></i></mat-icon>
      </mat-form-field>  

        <!-- CAPTCHA -->
        
        <div data-theme="dark" class="captcha" #recaptcha style="
        padding:0.3rem;
        "></div>
        <!--style by transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0; -->
        <br>
        <p class="form-text naranja" *ngIf="captchaE">Acepte el captcha por favor.</p>
        <p class="form-text naranja" *ngIf="error">Usuario Incorrecto</p>
        <br>

        <!-- BOTON INGRESAR -->
        <div class="button">
          <!-- <button class="btn btn-danger btn-block"  mat-dialog-close >Cancelar</button> -->
          <button type="submit" class="btn btn-success btn-block" >Ingresar</button>
          <br>
        </div>
                        
        <br><br>

        <!-- SPINNER -->
        <div *ngIf="isLoading" class="d-flex justify-content-center">
          <div class="spinner-border" role="status"></div>
        </div>
        <br>

      </mat-card-content>
</form>

<div class="botonesLogin" >
  <button class="btn btn-primary centrado"(click)="LoginCliente()" ><i class="fa fa-user"></i></button>
  <button class="btn btn-dark centrado"(click)="LoginSocio()" ><i class="fa fa-lock"></i></button>
  <button class="btn btn-danger centrado"(click)="LoginMozo()"><i class="fa fa-address-card"></i></button>
  <button class="btn btn-warning centrado"(click)="LoginChopera()" ><i class="fa fa-beer"></i></button>
  <button class="btn btn-success centrado"(click)="LoginTragos()" ><i class="fa fa-glass"></i></button>
  <button class="btn btn-info centrado"(click)="LoginCocina()"><i class="fa fa-cutlery"></i></button>
  <button class="btn btn-light centrado"(click)="LoginCandy()" ><i class="fa fa-birthday-cake"></i></button>
  </div>



</mat-card>


<!-- <button   class="btn btn-primary">Cliente</button> -->
<!-- <button  (click)="LoginSocio()" class="btn btn-primary">Socio</button>
<button  (click)="LoginMozo()" class="btn btn-primary"disabled>Mozo</button>
<button  (click)="LoginChopera()" class="btn btn-primary"disabled>Chopera</button>
<button  (click)="LoginTragos()" class="btn btn-primary"disabled>Tragos</button>
<button  (click)="LoginCocina()" class="btn btn-primary"disabled>Cocina</button>
<button  (click)="LoginCandy()" class="btn btn-primary"disabled>Candy Bar</button> -->


