@import url('https://fonts.googleapis.com/css?family=Chilanka|Livvic&display=swap');

.full-width-input {
    width: auto;
  }

#closebtn{
    position: relative;
    left: 20%;
}  
.mat-toolbar {
    background: transparent;
    color: #fff;
}


input[type=text], input[type=password] , input[type=nombre], input[type=usuario],  input[type=email] {
    width: 100%;
    /* padding: 12px 20px;
    margin: 8px 0; */
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}
.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    /* border-radius: 5px 5px 0 0; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
}/* Add some padding inside the card container */

::ng-deep .cdk-overlay-container{
    font-family: 'Livvic', sans-serif;
    position: absolute;
    /* top: 10%;
    left: 40%; */
    background: black;
    box-shadow: 2px 5px 20px gray;

    width: 280px;
    /* position: absolute; */
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: darkslategray;
    /* padding: 50px; */
    border-radius: 20px;

}

input[type=text], input[type=password] {
   
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.inputs {
    
   
    width: 90%;
}