<form novalidate [formGroup]="loginForm" (ngSubmit)="Entrar()">

    <mat-toolbar mat-dialog-title color="gray">
        <h2 class="display-3">Ingresar <button mat-button mat-dialog-close class="close">&times;</button></h2>
       
    </mat-toolbar>

      
    <!-- <div class="container"> -->
<!-- 
      <div class="example-container">
          <h2 class="display-3">Ingresar al Sistema</h2>
          <br> -->
      <div class="centro">    
      <img class="img-thumbnail"   src="../../assets/images/login.png" alt="Avatar" >
      </div>
      <br><br>

    <div class="form-group"> 
            <mat-form-field>
              <label>Ingrese usuario:</label>
                <input matInput formControlName="username"   type="text" name="usuario" required>
                <!-- <mat-error *ngIf="usuario.invalid">{{getErrorMessageUser()}}</mat-error> -->
              </mat-form-field>

            </div>
<br>
<div class="form-group">
          <mat-form-field>
              <label>Ingrese contraseña:</label>
            <input matInput  formControlName="password"  name="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'no ver' : 'ver'}}</mat-icon>
            <!-- <mat-error *ngIf="password.invalid">{{getErrorMessagePsw()}}</mat-error> -->
          </mat-form-field>  

</div>

          <!-- <br> -->
            <!-- <mat-checkbox >Recordar mis Datos</mat-checkbox> -->
            <!-- <br> -->
            <!-- <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button> -->
           
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button class="btn btn-danger btn-block"  mat-dialog-close >Cancelar</button>
                <button type="submit" class="btn btn-success btn-block" >Ingresar</button>
                <p *ngIf="error">Usuario Incorrecto</p>
                <p *ngIf="success">Usuario Incorrecto</p>
              </mat-dialog-actions>
          <!-- </div> -->

        <!-- </div> -->
</form>

<br><br>
<button  (click)="LoginCliente()" class="btn btn-primary">Cliente</button>
<button  (click)="LoginSocio()" class="btn btn-primary">Socio</button>
<button  (click)="LoginMozo()" class="btn btn-primary"disabled>Mozo</button>
<button  (click)="LoginChopera()" class="btn btn-primary"disabled>Chopera</button>
<button  (click)="LoginTragos()" class="btn btn-primary"disabled>Tragos</button>
<button  (click)="LoginCocina()" class="btn btn-primary"disabled>Cocina</button>
<button  (click)="LoginCandy()" class="btn btn-primary"disabled>Candy Bar</button>
<!-- </div> -->

