<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<form novalidate [formGroup]="loginForm" (ngSubmit)="Entrar()"  >

    <mat-toolbar mat-dialog-title color="gray">
        <h4 letraYcolor >Ingresar <button mat-button mat-dialog-close class="close">&times;</button></h4>
       
    </mat-toolbar>

      <div class="centro" >    
      <img class="img-thumbnail"   src="./assets/images/login.png" alt="Avatar" >
      </div>
      <br>

    <div class="form-group"> 
            <mat-form-field class="inputs">
              <label>Ingrese usuario:</label>
                <input matInput type="text" formControlName="username"  class="inputs" style="width: 94%;" name="usuario" required>
                <!-- <mat-error *ngIf="usuario.invalid">{{getErrorMessageUser()}}</mat-error> -->
              </mat-form-field>

    </div>
<br>
<div class="form-group">
          <mat-form-field class="inputs">
              <label>Ingrese contraseña:</label>
            <input matInput  formControlName="password"  name="password" [type]="hide ?  'text': 'password' ">
            
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'no ver' : 'ver'}}</mat-icon> -->
            <mat-icon matSuffix (click)="hide = !hide"><i class="fa fa-eye"></i></mat-icon>

            <!-- <mat-error *ngIf="password.invalid">{{getErrorMessagePsw()}}</mat-error> -->
          </mat-form-field>  

</div>

          <!-- <br> -->
            <!-- <mat-checkbox >Recordar mis Datos</mat-checkbox> -->
            <!-- <br> -->
            <!-- <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button> -->
           
            <mat-dialog-actions>
                <!-- <div class="g-recaptcha" id="my_captcha_form"
                data-sitekey="6LcNY78UAAAAANCSxOs6q84fn-fdu3x5fzSzmZWD" 
                ></div> -->
             
               
                  <div data-theme="dark" #recaptcha style="margin-left: 5%; transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                         
                    <br>
                    <p class="form-text naranja" *ngIf="captchaE">Acepte el captcha por favor.</p>
                    <br>
               
                <span class="flex-spacer"></span>
                <button class="btn btn-danger btn-block"  mat-dialog-close >Cancelar</button>
                <button type="submit" class="btn btn-success btn-block" >Ingresar</button>
               <br>
                <p *ngIf="error">Usuario Incorrecto</p>
                
              </mat-dialog-actions>
          <!-- </div> -->

        <!-- </div> -->
        <br><br>
        <div *ngIf="isLoading" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
           
          </div>
        </div>
      <!-- </div> DIV DE CONTAINER -->
</form>

<br><br>
<div >
<button class="btn btn-primary"(click)="LoginCliente()" ><i class="fa fa-user"></i></button>
<button class="btn btn-dark"(click)="LoginSocio()" ><i class="fa fa-lock"></i></button>
<button class="btn btn-danger"(click)="LoginMozo()" disabled><i class="fa fa-address-card"></i></button>
<button class="btn btn-warning"(click)="LoginChopera()"disabled ><i class="fa fa-beer"></i></button>
<button class="btn btn-success"(click)="LoginTragos()"disabled ><i class="fa fa-glass"></i></button>
<button class="btn btn-info"(click)="LoginCocina()"disabled ><i class="fa fa-cutlery"></i></button>
<button class="btn btn-light"(click)="LoginCandy()"disabled ><i class="fa fa-birthday-cake"></i></button>
</div>

<!-- <button   class="btn btn-primary">Cliente</button> -->
<!-- <button  (click)="LoginSocio()" class="btn btn-primary">Socio</button>
<button  (click)="LoginMozo()" class="btn btn-primary"disabled>Mozo</button>
<button  (click)="LoginChopera()" class="btn btn-primary"disabled>Chopera</button>
<button  (click)="LoginTragos()" class="btn btn-primary"disabled>Tragos</button>
<button  (click)="LoginCocina()" class="btn btn-primary"disabled>Cocina</button>
<button  (click)="LoginCandy()" class="btn btn-primary"disabled>Candy Bar</button> -->


