<!-- <header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</header> -->
<mat-toolbar class="header">
    <span><img src="./assets/images/solICON.png" height=auto width=30px></span>

    <!-- PAGINA DESLOGUEADA -->
    <a mat-button letraYcolor routerLink="/home" routerLinkActive="active" class="hbtn"><span class="fa fa-home fa-lg"></span>Inicio</a>
    <a mat-button letraYcolor *ngIf="!IngresoBool" routerLink="/aboutus" routerLinkActive="active" class="hbtn"><span class="fa fa-info fa-lg"></span> Nosotros</a>
    <a mat-button letraYcolor *ngIf="!IngresoBool" routerLink="/contacto" routerLinkActive="active" class="hbtn"><span class="fa fa-address-card fa-lg"></span> Contacto</a>
    <a mat-button letraYcolor *ngIf="IngresoBool && perfilUsuario == 'mozo'" routerLink="/registro" routerLinkActive="active" class="hbtn"><span class="fa fa-user fa-lg"></span> Registro</a>
   

   
   <!-- PERFILES -->
   <a mat-button letraYcolor *ngIf="IngresoBool && (perfilUsuario == 'admin')" routerLink="/usuarios" routerLinkActive="active" class="hbtn"><span class="fa fa-user fa-lg"></span> Administrador </a>
   <a mat-button letraYcolor *ngIf="IngresoBool && (perfilUsuario == 'cliente')" routerLink="/cliente" routerLinkActive="active" class="hbtn"><span class="fa fa-search-plus fa-lg"></span> Ver estado Pedido</a>
   <a mat-button letraYcolor *ngIf="IngresoBool && (perfilUsuario == 'cliente')" routerLink="/encuesta" routerLinkActive="active" class="hbtn"><span class="fa fa-check-square-o fa-lg"></span> Completar encuesta</a>
    
    <a mat-button letraYcolor *ngIf="IngresoBool && perfilUsuario == 'mozo'" routerLink="/menu" routerLinkActive="active" class="hbtn"><span class="fa fa-cutlery fa-lg"></span> Menu</a>
    <a mat-button letraYcolor *ngIf="IngresoBool && (perfilUsuario != 'cliente')" routerLink="/listado" routerLinkActive="active" class="hbtn"><span class="fa fa-book fa-lg"></span> Listado pedidos</a>
   
    <a mat-button letraYcolor *ngIf="IngresoBool && (perfilUsuario == 'mozo' || perfilUsuario == 'admin')" routerLink="/listadoMesas" routerLinkActive="active" class="hbtn"><span class="fa fa-info-circle fa-lg"></span> Listado de Mesas</a>
  
    <!-- <a mat-button letraYcolor *ngIf="IngresoBool && perfilUsuario == 'admin'" routerLink="/estadisticas" routerLinkActive="active" class="hbtn"><span class="fa fa-bar-chart fa-lg"></span> Estadísticas</a> -->
   
    <span class="fill-space"></span>
    <img class="TTBlogo" src="./assets/images/ARGf.png" alt="Avatar">
    <h6 letraYcolor class="hbtn" >¡Hola {{nombre | eliminoMail }}!</h6>
    <!-- LOGUEO -->
    <a mat-raised-button  *ngIf="!IngresoBool" (click)="openLoginForm()" class="hbtn" ><span class="fa fa-sign-in fa-lg"></span> Ingresar</a>
    <a mat-raised-button letraYcolor *ngIf="IngresoBool"  (click)="logout()" class="hbtn" ><span class="fa fa-sign-out fa-lg"></span> Salir</a>
   

  </mat-toolbar>
  
  <div class="container-fluid jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="60%">

      <div class="headerCentral" *ngIf="!IngresoBool">
        <br>
         <h1>Bienvenido a Vot.AR</h1> 
        <p>Sistema electronico nacional de voto</p>
        <p>Dirección Nacional Electoral</p>
      </div>

      <div *ngIf="IngresoBool && (perfilUsuario == 'cliente')">
        <br>
        <h1 letraYcolor>The Temple Bar</h1>
        <p>Bienvenido! Gestione su pedido</p>
      </div>
      <div *ngIf="IngresoBool && (perfilUsuario == 'admin')">
          <br>
          <h1 letraYcolor>The Temple Bar</h1>
          <p>Bienvenido! Sistema de Gestion del bar</p>
      </div>
      <div *ngIf="IngresoBool && (perfilUsuario == 'mozo')">
        <br>
        <h1 letraYcolor>The Temple Bar</h1>
        <p>Bienvenido! Sistema de Gestion de mesas por el mozo</p>
    </div>
    <div *ngIf="IngresoBool && (perfilUsuario != 'mozo' && perfilUsuario != 'admin' && perfilUsuario != 'cliente')">
        <br>
        <h1 letraYcolor>The Temple Bar</h1>
        <p>Bienvenido! Sistema de Gestion de realizacion de pedidos: {{perfilUsuario}}</p>
    </div>

    <div class="md-8">
      
        <mat-toolbar-row>
            
          
            <!-- <img *ngIf="!IngresoBool" class="enmarcada" src="./assets/images/temple-icon.png" alt="Avatar"> -->
            <img *ngIf="IngresoBool && (perfilUsuario == 'cliente') || IngresoBool && (perfilUsuario == 'admin')" class="enmarcada" src="./assets/images/temple-icon.png" alt="Avatar" style="margin-bottom: 10%;">


          </mat-toolbar-row>
    </div>
   
  </div>