@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

p{
  font-family: 'Bebas Neue', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 180%;
}
h1{
  font-family: 'Bebas Neue', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  font-size: 470%;
}
.jumbotron {
    margin: 0px auto;
    padding: 0px 20px;
    /* background: lightsalmon; */
    background: rgb(158,187,198);

    color: whitesmoke;
    min-height: 100px;
    border-radius: 0rem;
    
  }

  .header 
  {
    background-color: rgb(110,153,170);
    /* background-color: #6D6875; */
    font-family: 'Bebas Neue', cursive;
  }

 

  .hbtn{
    color: whitesmoke;
    font-size: 165%;

  }
  .hbtn.hover{
    color:rgb(126,164,179);
  }

.active {
  background-color:rgb(126,164,179);
  color: black;
  transition-duration: 1.8s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.a.active
{
  color:black;
}


/* mat-toolbar-row{
  padding:10px;
  margin:10px; /* distancia entre el borde y el contenido 
} */

.enmarcada{
  position: relative;
  
  margin:10px; /* distancia entre el borde y el contenido */
  width:120px; /* el ancho de la img */
  border-radius:150px;
  border:5px solid black;
  height: 120px; 
  margin-bottom: 20%;
  margin-left: 90%;
}
/* .avatar{
  margin-left: 90%;
} */

.headerCentral{
  text-align: center;
}
.usuario-icon {
  padding: 0 14px;
  cursor: pointer;
  font-size: 30px; 
}

.span-avatar{
  /*padding: 10% 10%;*/
  float: left;
  margin: 20px;
}

span{
  margin: 5px;

}
/* 
.usuario-spacer {
  flex: 1 1 auto;
} */

.fill-space {
 
  flex: 1 1 auto;
}

.TTBlogo{
  /* height: 200px; */
  /* background-image: url("../../../assets/imagenes/cabecera_pacman.jpg"); */
  margin-right: 3%;
  width: 4%;
  height: 100%;
  background-size: 100% 100%;
  background-position: top center;
}