@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css?family=Skranji&display=swap');
p{
  font-family: 'Long Cang', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 180%;
}
.jumbotron {
    margin: 0px auto;
    padding: 0px 20px;
    background: lightsalmon;
    color: floralwhite;
    min-height: 100px;
    
  }

  .header 
  {
    background-color: black;
    color: white;
  }

  h1
  {
    color: blanchedalmond;
    font-family: 'Skranji', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .hbtn{
    color: white;
  }
  .hbtn.hover{
    color:crimson;
  }

.active {
  background-color:crimson;
  color: black;
  transition-duration: 1.8s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.a.active
{
  color:black;
}


/* mat-toolbar-row{
  padding:10px;
  margin:10px; /* distancia entre el borde y el contenido 
} */

.enmarcada{
  position: relative;
  
  margin:10px; /* distancia entre el borde y el contenido */
  width:120px; /* el ancho de la img */
  border-radius:150px;
  border:5px solid #666;
  height: 120px; 
  margin-bottom: 9%;
}
/* .avatar{
  margin-left: 90%;
} */


.usuario-icon {
  padding: 0 14px;
  cursor: pointer;
  font-size: 30px; 
}

.span-avatar{
  /*padding: 10% 10%;*/
  float: left;
  margin: 20px;
}

span{
  margin: 5px;

}
/* 
.usuario-spacer {
  flex: 1 1 auto;
} */

.fill-space {
 
  flex: 1 1 auto;
}

