  input{
    color: black;
  font-size: 190%;
  
    font-family: 'Bebas Neue', cursive;
  }

select,label{
  color: black;
font-size: 190%;
 
  font-family: 'Bebas Neue', cursive;
  
}

.col-md-5 {
  width: 100%;
}

th{
  margin-left: 10px;
  margin-right: 10px;
  /* color: whitesmoke; */
}

/* .mat-radio-outer-circle{
  margin-left: -20%;
} */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  margin-left: -20%;
}


 .md-radio-inner-circle {
  margin-left: -20%;  /* Pick your color */
}

.md-radio-checked .md-radio-outer-circle {
  margin-left: -20%;     /* Pick your color */
}


.slick-slider {
  width: 88%;
  margin: auto;
  background: white;
}

body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}



.slick-prev:before, .slick-next:before {
  color: black!important;
}

.agregado{
  background-color: rgb(60, 59, 110);
font-size: 290%;
color: white;
text-align: center;
}


body{
	background-image: url('../../../assets/images/faculomas.jfif');
	background-repeat: repeat  ;
  margin-left: -5px;
	/* background-size: cover; */
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem
}

.label-top {
  position: absolute;
  background-color: #8bc34a;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase
}