/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

body{
	padding: 0;
	margin: 0;
	/* font-family: Roboto, sans-serif; */
	background-image: url('assets/images/bar-principal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/* .container{
	margin:20px;
	display: flex;
} */