@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body{
    background-color: beige;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input{
    background-color: beige;
    font-family: 'Roboto Slab', serif;
}
.row {
    margin-right: 15px;
    margin-left: 15px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-left: 24px;
    text-align: center;
    padding-right: 24px;
    align-content: center;
    font-size: 18px;
}
