<app-headervototp></app-headervototp>

<body>
   

    <div *ngIf="flagTrajores" class="row">
        <div class="basic-column w-col w-col-3">
            <div class="tag-wrapper">
                <div class="number-card number-card-content1">
                    <h1 class="number-card-number">{{listaResultados[0]?.cantidad}}</h1>
                    <div class="number-card-number">{{listaResultados[0]?.key}}</div>
                    <div class="number-card-divider"></div>
                    <div class="number-card-progress-wrapper">
                        <div class="tagline number-card-currency">PUESTO NUMERO </div>
                        <div class="number-card-progress">1</div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="basic-column w-col w-col-3">
            <div class="tag-wrapper">
                <div class="number-card number-card-content2">
                    <h1 class="number-card-number">{{listaResultados[1]?.cantidad}}</h1>
                    <div class="number-card-number">{{listaResultados[1]?.key}}</div>
                    <div class="number-card-divider"></div>
                    <div class="number-card-progress-wrapper">
                        <div class="tagline number-card-currency">PUESTO NUMERO</div>
                        <div class="number-card-progress">2</div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="basic-column w-col w-col-3">
            <div class="tag-wrapper">
                <div class="number-card number-card-content3">
                    <h1 class="number-card-number">{{listaResultados[2]?.cantidad}}</h1>
                    <div class="number-card-number">{{listaResultados[2]?.key}}</div>
                    <div class="number-card-divider"></div>
                    <div class="number-card-progress-wrapper">
                        <div class="tagline number-card-currency">PUESTO NUMERO</div>
                        <div class="number-card-progress">3</div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
        <div class="basic-column w-col w-col-3">
            <div class="tag-wrapper">
                <div class="number-card number-card-content4">
                    <h1 class="number-card-number">{{listaResultados[3]?.cantidad}}</h1>
                    <div class="number-card-dollars">{{listaResultados[3]?.key}}</div>
                    <div class="number-card-divider"></div>
                    <div class="number-card-progress-wrapper">
                        <div class="tagline number-card-currency">PUESTO NUMERO</div>
                        <div class="number-card-progress">4</div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
</body>
