<app-header></app-header>
<body>
    <!-- <div class="listadoCentrado container"> -->
        <div class="row">
          <div class=" col shadow-lg p-4  bg-dark rounded border border-dark">
      
          <h3 letraYcolor>Nueva Escuela</h3>
          <hr style="border-color: white;">
          <form [formGroup]="registroForm" >
            <div class="form-group">
              <input class="form-control" placeholder="Numero de Escuela" type="number" id="num"  name="num" [formControl]="num" required>
              <br>
              <input class="form-control" placeholder="Nombre Establecimiento" type="string" id="nombre"  name="nombre" [formControl]="nombre" required>
              <br>
              <input class="form-control" placeholder="Dirección" type="string" id="direccion"  name="direccion" [formControl]="direccion" required>
              <!-- <input class="form-control" placeholder="Distrito" type="string" id="distrito"  name="distrito" [formControl]="distrito" required> -->
              <br>
              <select class="form-control" placeholder="Localidad" formControlName="distrito" >
                <option  hidden disabled>Default</option>
                <option> Lanus </option>
                <option> Avellaneda </option>
                <option> Quilmes </option>
              </select>
              <br>
              <p letraYcolor *ngIf="usuarioRegistrado">Escuela ya ingresada.</p><br>

                <br>
                <button (click)="IngresarEscuela()" class="btn btn-success btn-lg col-sm-12" [disabled]="!registroForm.valid">Agregar</button>
              <br><br>
              <p letraYcolor *ngIf="agregOK" style="text-align: center;">Escuela agregada</p>
              <p letraYcolor *ngIf="eliminOK" style="text-align: center;">Escuela eliminada</p>
             
             </div>
        
          </form>
          </div>
          <div class="mat-elevation-z8 col-8 border border-dark" style="color:black; background: rgba(119, 136, 153, 0.481);">
            <br>
              <h3 letraYcolor>Lista de Escuelas</h3>
              <hr style="border-color: white;">
              
      
      
                <table class="table  table-striped table-dark table-bordered table-hover" id="tablaID">
                    <thead>
                      <tr>
                      
                        <th  scope="col" class="col1">NRO Escuela</th>
                        <th  scope="col" class="col2">NOMBRE</th>
                         <th  scope="col" class="col3">LOCALIDAD</th>
                       <th  scope="col" class="col4">DIRECCION</th>
                       <th  scope="col" class="col5">ESTADO</th>
                       <th  scope="col" class="col5">ACCIONES</th>
                       
                       
                      </tr>
                  </thead>
              
                      <tbody id="tBodyTable"  *ngFor="let item of listaEscuelas">
                          <tr> 
                        
                                <td>{{item.idEscuela}}</td>
                                <td>{{item.nombre}}</td>
                                <td >{{item.distrito}}</td>
                                <td >{{item.direccion}}</td>
                                <td >{{item.estado}}</td>
    
                                <td>
                                  <!-- FIJARSE BOTONES -->
                                    <!-- <button *ngIf="perfil == 'presidente'" class="btn btn-success" (click)="Abrir(item.idEscuela)" >Abrir</button> 
                                    <button *ngIf="perfil=='presidente'" class="btn btn-danger" (click)="Cerrar(item.idEscuela)">Cerrar</button>
                                    <app-btn-eliminar *ngIf="perfil=='admin'"(enviarABorrar)="borrarEscuela(item)"></app-btn-eliminar></td> -->
                                    <hr>
                          </tr> 
                      
                         </tbody>
                        </table>
      
              <br>
              <button class="btn btn-info btn-block btn-lg" (click)="descarga()"><i class="fa fa-cloud-download"></i> Descargar detalle lista de Escuelas</button>
    
            </div>
      
        </div>
      
      <!-- </div> -->
    </body>